{%- for command in commands %}
from .{{ command }} import {{ command }}
{%- endfor %}

def get_commands():
    return [
        {%- for command in commands %}
        {{ command }}(),
        {%- endfor %}
    ]
